.Description-container {
    margin: 0 auto;
    text-align: center;
    width: 90vw;
    height: 95%;
    background-image: url('https://i.pinimg.com/originals/f0/18/8a/f0188a4680b2ef1ef813b9602b990798.jpg');
    /* background-color: #2f4353; */
    /* background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%); */
    color: white;
}

.Landing-page p {
    margin: 0;
    padding: 10% 0 0 0;
}

.signup-button {
    margin: 0 0 0 10px;
}

.signup-button, .login-button {
    height: 70%;
    text-decoration: none;
    padding: 4px;
}