.Description-container {
    margin: 0 auto;
    text-align: center;
    width: 90vw;
    height: 95%;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    color: white;
}

.Landing-page p {
    margin: 0;
    padding: 10% 0 0 0;
}
