.Article {
    height: auto;
    width: 100%;
    border: 1px solid black;
    margin: 0 0 2vh 0;
    text-align: left;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    color: white;
}

.Article-headline {
    position: relative;
    text-align: center;
    font-size: 16pt;
    overflow: hidden;
    padding: 1% 0;
    box-shadow: 0px 24px 3px -24px black;
}

.Article-print {
    border: 1px dashed black;
    font-size: 12pt; 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

.Article-print-container {
    column-count: 2;
    column-gap: 5%;
    overflow-wrap: break-word;
    padding: 2% 7%;
}

.Article-print-container.columns {
    orphans: 2;
}

.Article p {
    margin: 0;
}

.Article-username {
    font-style: italic;
    text-align: right;
    font-size: 10pt;
    padding: 0 7% 0 0;
}

.Article form {
    padding: 0;
}



