
.Write-article-page {
    display: flex;
    padding: 10% 0 0 0;
}

form {
    padding: 10% 0 0 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    border: none;
}

label, input, textarea {
    padding: 1% 0 0 1%;
    margin: 0;
    width: 100%;
    text-align: start;
}

::placeholder {
    padding: 0 0 10%;
}

textarea::placeholder {
    font-size: 4.5vmin;
}

.Article-headline-input {
    height: 5vh;
}

.Article-print-input {
    height: 30vh;
    margin: 0;
}

button {
    margin: 5% 0 0 0;
}