.Account-signup-page {
    display: flex;
    padding: 10% 0;
  }
  
  .Signup-form {
    padding: 10% 0 0 0;
  }
  
  .Signup-form fieldset {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    padding: 0 0 0 5%;
    margin: 0;
    border: none;
  }
  
  .Signup-form fieldset label, .Signup-form fieldset input {
    padding: 1% 0 0 1%;
    margin: 0;
    text-align: start;
    width: 90%;
  }