.Main-container {
    margin: 0 auto;
    text-align: center;
    width: 90vw;
    overflow: scroll;
    height: 95%;
    overflow-x: hidden;
}

.sort-popular {
    margin: 0 0 0 10px;
}

.sort-created, .sort-popular {
    height: 70%;
}