.App-header {
    height: 7vh;
    color: rgb(177, 150, 0);
    text-shadow: 1px 1px 1px black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    /* background-image: linear-gradient(315deg, #c7e9fb 0%, #e61d8c 74%); */
}

h1 {
    font-family: 'Cinzel', serif;
    margin: 0;
}

.home-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-buffer {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.write-new-article-button {
    width: 80%;
}