.Article {
    height: auto;
    width: 100%;
    border: 1px solid black;
    margin: 0 0 2vh 0;
    text-align: left;
}

.Article-headline {
    text-align: center;
    font-size: 16pt;
}

.Article-headline, .Comment {
    padding: 1% 3%;
}

.Article-print {
    border: 1px dashed black;
    padding: 3%;
    font-size: 12pt;
}

.Comments-input-section {
    height: 20%;
}

.Comments-input-section input {
    width: 100%;
}

.Comment {
    border: 1px solid black;
    margin: 1% 0 0 0;
    font-size: 10pt;
}

