main {
  height: 90vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100%;
}

section {
  height: 100%;
}

.toolbar {
  height: 5%;
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-evenly;
}