main {
  height: 90vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #4e4e4e;
  height: 10vh;
  color: white;
  width: 100%;
}

section {
  height: 100%;
}

.Landing-page, .Account-signup-page, .Login-page, .Write-article-page {
  display: flex;
  padding: 10% 0;
}

.Sidebar-link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
  background-color: #6d6b6b;
}

.Description-container {
  margin: 0 20% 0 0;
  text-align: center;
  width: 60vw;
  height: 70vh;
  background-color: #a0a0a0;
}

.Main-container {
  margin: 0 20vw 0 20vw;
  text-align: center;
  width: 60vw;
  height: 95%;
  background-color: #a0a0a0;
  overflow: scroll;
}

.Signup-form, .Login-form, .Article-form {
  padding: 10% 0 0 0;
}

.Signup-form fieldset, .Login-form fieldset, .Article-form fieldset {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  padding: 0 0 0 5%;
  margin: 0;
  border: none;
}
.Signup-form fieldset label, .Signup-form fieldset input, .Login-form fieldset label, .Login-form fieldset input, .Article-form fieldset label, .Article-form fieldset input {
  padding: 1% 0 0 1%;
  margin: 0;
  text-align: start;
  width: 90%;
}

.Main-page-toolbar {
  height: 5%;
  display: flex;
  margin: 0 auto;
  width: 60%;
  justify-content: space-evenly;
}

.Article {
  height: auto;
  width: 100%;
  border: 1px solid black;
  margin: 0 0 2vh 0;
}

.Article-content {
  height: 10vh;
}

.Comments-section {
  border-top: 1px dashed black;
}

.print-input {
  height: 30vh;
}